@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  align-items: center;
  background: #333;
  color: #fff;
  display: flex;
  height: 70px;
  justify-content: space-between;
  opacity: 0.8;
  padding: 0 30px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px solid #74b9ff;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

/* Header */
.hero {
  background: url('../images/home/showcase.jpg') no-repeat center center/cover;
  color: #fff;
  height: 100vh;
  position: relative;
}

.hero .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  margin: 20px 0 30px;
  max-width: 600px;
}

.hero::before {
  background: rgba(0, 0, 0, 0.6);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero * {
  z-index: 10;
}
